{
  "WindowsVersion": 10,
  "DisableCloudClipboard": false,
  "EnableLegacyVolumeSlider": false,
  "EnableTaskbarColor": false,
  "DisableQuickAccessHistory": false,
  "DisableStartMenuAds": false,
  "EnableDarkTheme": true,
  "UninstallOneDrive": false,
  "DisableMyPeople": false,
  "DisableAutomaticUpdates": false,
  "ExcludeDrivers": false,
  "DisableTelemetryServices": true,
  "DisablePrivacyOptions": false,
  "DisableSilentAppInstall": false,
  "DisableCortana": false,
  "DisableSensorServices": false,
  "DisableWindowsInk": false,
  "DisableSpellingTyping": false,
  "DisableXboxLive": true,
  "DisableGameBar": true,
  "DisableInsiderService": false,
  "DisableFeatureUpdates": false,
  "EnableLongPaths": false
}